@import '../../styles/colors.scss';

.container {
  max-width: 700px;
  margin: 0 auto;
}

button {
  font-family: inherit;
}

.btn {
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: $color_grey_dark;
}

.btn:hover {
  background-color: $color_grey;
}

.header {
  background-color: $color_grey_light;
  color: red;
  border-bottom: 1px solid $color_grey;
  margin-bottom: 40px;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    color: $color_grey;
  }

  input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
}
