@import '../../styles/colors.scss';

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    color: $color_grey;
  }

  input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
}
