@import '../../styles/colors.scss';

.header {
  background-color: $color_grey_light;
  color: red;
  border-bottom: 1px solid $color_grey;
  margin-bottom: 40px;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
